*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0; padding: 0;
  font-family: helvetica, arial, sans-serif;
}

.main {
  background: #FD006C;
  padding: 1em 0;

  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -ms-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}

.container {
  text-align: center;
}
h1, strong {
  font-weight: normal;
}
h1 {
  font-family: 'hiso-dark';
  font-size: 10em;
  line-height: 100%;
  text-align: center;
  margin: .2em 0 0;
  color: #170034;
}
h1 span {
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 1em;
}
h1 span::after{
  height: 1em;
  content: attr(data-letter);
  position: absolute;
  left: 0;
  font-family: 'hiso-plain';
  color: white;
  z-index: -1;
}

strong {
  font-size: 1.22em;
  letter-spacing: .5em;
  color: #444;
  margin-bottom: .5em;
  display:  block
}

h2 {
  display: block;
  text-align: left;
  font-size: 2em;
  line-height: 100%;
  color: #170034;
  font-family: 'hiso-dark';
  padding-left: .5em;
}

h1, h2, li {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

ul {
  margin: 0 auto 3em;
  padding: 0;
  font-family: 'hiso-dark';
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(0,0,0,0.15);
  border-left: 1px solid rgba(0,0,0,0.15);
}
li {
  font-size: 7.5vw;
  float: left;
  width: 12.5%; height: 12.5%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  line-height: 130%;
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
}
li:hover {
  z-index: 2;
  background: white;
  color: #170034;
}
li::before {
  content: attr(data-content);
  position: absolute;
  bottom: 0; right: .15em;
  color: rgba(0,0,0,.5);
  font-family: helvetica, arial, sans-serif;
  font-size: .25em;
  line-height: 100%;
}
.private-area li::before {
  font-size: .15em;
}
.big {
  width: 2.03em;
}

/* Controls */

input { display: none;}
input { position: absolute;  top: 0;}
input:nth-child(1) { left: 0; }
input:nth-child(2) { left: 10px; }
input:nth-child(3) { left: 20px; }

nav {
  display: block;
  width: 30em;
  margin: 0 auto 2em;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.15);
}
nav:before,
nav:after{
  content: "";
  display: table;
}
nav:after{
  clear: both;
}

label {
  float: left;
  width: 33.3333333333333333%;
  text-align: center;
  vertical-align: top;
  font-weight: bold; color: rgba(255,255,255,.5);
  cursor: pointer;
  margin: 0; padding: .75em 0 .5em;
  color: rgba(0,0,0,0.25);
  background: #ecf4f8;
}
label + label {
  border-left: 1px solid rgba(0,0,0,0.15);
}
label:hover {
  color: #444;
}

/* Dark font selected */
#dark:checked ~ .main {
  background: #ecf4f8;
}

/* Light font selected */
#bright:checked ~ .main {
  background: #333;
}
#bright:checked ~ .main h1,
#bright:checked ~ .main h2,
#bright:checked ~ .main ul {
  font-family: "hiso-bright";
  color: #FD006C;
}

#bright:checked ~ .main h1 span:after{
  color: black;
}

#bright:checked ~ .main ul,
#bright:checked ~ .main li {
  border-color: rgba(255, 255, 255, .15);
}
#bright:checked ~ .main li {
  color: white;
}
#bright:checked ~ .main li:hover {
  background: black
}
#bright:checked ~ .main li:hover::before{
  color: rgba(255, 255, 255, .5);
}

#bright:checked ~ .main h2 {
  color: #FD006C;
}

/* Plain font selected */
#plain:checked ~ .main {
  background: #ecf4f8;
}
#plain:checked ~ .main li {
  font-family: "hiso-plain";
}

/* Labels */
#dark:checked ~ .main label[for="dark"],
#bright:checked ~ .main label[for="bright"],
#plain:checked ~ .main label[for="plain"] {
  color: #444;
  background: #cddce4;
}

/* Github link */
aside {
  position: absolute;
  top: 0; right: 0;
  width: 15em;
  height: 11.5em;
  overflow: hidden
}

aside a {
  display: block;
  background: #444;
  color: #222;
  font-weight: bold;
  text-shadow: 1px 1px rgba(255,255,255,0.15);
  text-decoration: none;
  margin-top: 10em;
  padding: .25em 1em;
  width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: background .25s;
  -moz-transition: background .25s;
  -ms-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
}
aside a:hover {
  background: #555;
}
aside span {
  border: dashed 1px rgba(0, 0, 0, 0.5);
  border-width: 1px 0;
  display: block;
  padding: .25em 0;
}